In [3]:
time_data_path = 'time_test/trainiter1_core1_timedata_df.pkl'

In [4]:
import pickle
with open(time_data_path,'rb') as f:
    data = pickle.load(f)
data

             0                                 1                         \
       nn_time splt_time total_time      nn_time splt_time   total_time
0    12.127156  1.078728  13.291429  1972.267905  2.285392  1974.685989
1    12.441558  1.871890  14.416787    19.632467  1.529397    21.333126
2    12.833692  1.434658  14.374533   905.169211  3.860753   909.308668
3    13.311479  2.197716  15.665942    19.740132  1.612974    21.449547
4    15.890917  2.228985  18.234916  7224.825908  4.659898  7229.728898
..         ...       ...        ...          ...       ...          ...
105        NaN       NaN        NaN          NaN       NaN          NaN
106        NaN       NaN        NaN          NaN       NaN          NaN
107        NaN       NaN        NaN          NaN       NaN          NaN
108        NaN       NaN        NaN          NaN       NaN          NaN
109        NaN       NaN        NaN          NaN       NaN          NaN

              2                                3                       \
        nn_time splt_time  total_time    nn_time splt_time total_time
0    704.882093 -2.282872  702.723755  18.683931  1.401002  20.180311
1     24.485789  1.359209   26.016172  20.374097  1.279027  21.759632
2     22.718664  1.468771   24.332164  20.338978  1.696897  22.146691
3    285.066531 -0.097654  285.113882  18.849844  1.918524  20.922501
4     16.898952  2.956172   19.973540  18.338844  2.765995  21.238034
..          ...       ...         ...        ...       ...        ...
105         NaN       NaN         NaN        NaN       NaN        NaN
106         NaN       NaN         NaN        NaN       NaN        NaN
107         NaN       NaN         NaN        NaN       NaN        NaN
108         NaN       NaN         NaN        NaN       NaN        NaN
109         NaN       NaN         NaN        NaN       NaN        NaN

             4                              5
       nn_time splt_time total_time   nn_time splt_time total_time
0    18.034593  1.200679  19.617555  6.995525  1.046680   8.101696
1    19.256490  1.226900  20.630436  3.926136  1.144230   5.131442
2    18.927419  1.770224  20.845989  4.280019  1.449970   5.800356
3    20.500062  1.946286  22.577675  3.824368  1.530807   5.432880
4    18.653843  4.085519  22.872701  4.184100  1.511823   5.772241
..         ...       ...        ...       ...       ...        ...
105   8.542311  1.180961   9.797792       NaN       NaN        NaN
106   8.437374  1.341476   9.840295       NaN       NaN        NaN
107   8.495384  0.493201   9.036101       NaN       NaN        NaN
108   8.157078  0.100454   8.288886       NaN       NaN        NaN
109   7.897748  0.139470   8.075167       NaN       NaN        NaN

[110 rows x 18 columns]

          0                              1
    nn_time splt_time total_time   nn_time splt_time total_time
0  2.661600  0.925228   3.654996  2.343057  0.911836   3.323704
1  2.489342  1.123107   3.686990  2.437459  1.012414   3.522388
2  2.386707  1.553742   4.041396  2.406495  1.204895   3.691343
3  2.384886  1.412310   3.885861  2.480726  1.466453   4.071134
4  2.337364  1.172328   3.586086  2.355371  1.084248   3.513781
5  2.555046  1.322664   3.957729  2.469864  1.390916   3.943061